body {
  margin: 20em;
  margin-top: 8em;
  background-color: #ecf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

#numItems {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
}

#item {
  color: red;
  font-weight: 800;
  font-size: 1.2em;
}

input {
  width: 15vw;
  border: none;
  border-bottom: 2px solid rgba(18, 160, 226, 0.658);
  outline: none;
  color: black;
  background-color: #ecf0f1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

button{
background-color: rgba(18, 160, 226, 0.658);
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-size: 1em;
width: 5em;
height: 2em;
border-radius: 1em 1em 1em 1em;
margin-left: 0.8em;

}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}